.card {
  width: 400px;
  padding: 15px;
  border: 1px solid #eee;
  box-shadow: 2px 2px 5px 2px #ddd;
  margin: 20px auto;
  border-radius: 10px;
}

.title {
  font-weight: bold;
  color: teal;
}

.priority {
  color: tomato;
}

.assigned_to {
  color: darkred;
}
